<!DOCTYPE html>

<html lang="en">

	<head>
		<!-- Page information -->
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="shortcut icon" href="/favicon.ico" />

		<!-- Set title -->
		{% if g.title %}<title> {{ g.title }} </title>{% else %}<title>Example</title>	{% endif %}

		<!-- Includes -->
		<link rel="stylesheet" href="/static/css/main.css" />

		{% block extra_css %}{%endblock %}
	</head>

	<body>

		{% block content %}{%endblock %}

	</body>

</html>